body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

/* CSS from the leaflet-choropleth documentation */
.legend {
  color: #000000;
  padding: 6px 8px;
  font: 10px Arial, Helvetica, sans-serif;
  font-weight: bold;
  background: white;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.legend ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  clear: both;
}

.legend li {
  display: inline-block;
  width: 60px;
  height: 22px;
}

.legend .min {
  float: left;
  margin-left: 15px;
  margin-right: 15px;
  padding-bottom: 5px;
}

.legend .mid1 {
  float: left;
  margin-left: 5px;
}

.legend .mid2 {
  float: left;
  margin-left: 10px;
}

.legend .mid3 {
  float: left;
  margin-left: 27px;
}

.legend .mid4 {
  float: left;
  margin-left: 25px;
}

.legend .max {
  float: right;
  margin-right: 12px;
}

h1 {
  text-align: center;
}
